{{input type='text' value=name}}
{{input type='text' value=catalogueNumber}}

<a href="#" class="button small" {{action 'saveRelease' this}}>Update Release</a>
<a href="#" class="button small alert" {{action 'deleteRelease' this}}>Delete</a>

<div id="release-expenses" class="panel">
	<h4>Expenses</h4>
	<table>
		<thead>
			<th>Description</th>
			<th width="200">Cost</th>
		</thead>
		<tbody>
			{{#each expenses}}
				<tr>
					<td>{{description}}</td>
					<td>{{cost}}</td>
				</tr>
			{{else}}
				<tr>
					<td colspan="2">No expenses have been entered for {{controller.catalogueNumber}} yet</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>
